<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-light navbar-light">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "Host" })">
            <img src="~/Assets/Images/logo-huit-xanh.png" alt="Logo" style="height: 57.3px; width: 276.5px;" />
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", new { area = "Author" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Nộp bài báo", "About", "Home", new { area = "Author" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</nav>

