@using Do_An.Models

@{
    ViewBag.Title = "Home";
}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">
                @{
                    var user = Session["User"] as User;
                    if (user != null)
                    {
                        <p>Name: @user.FullName.ToString()</p>
                        <p>Email: @user.Email.ToString()</p>
                        <a href="@Url.Action("Logout", "Account")" class="btn btn-warning">Logout</a>
                    }
                }
            </div>
        </div>

    </div>
</div>